/* tablet */

@media only screen and (max-width: 786px) {


    /* logo section start  */
    .companies {
        visibility: hidden;
    }

    /* logo section end  */
}

/* phone */
@media only screen and (max-width: 576px) {

    /* header section start */
    .reg-btn {
        visibility: hidden;
    }

    /* header section end */
    /* resgister section */


    /* resgister section */
    /* logo section start  */
    .companies {
        visibility: hidden;
    }

    /* logo section end  */

}