* {
    margin: 0;
    padding: 0;
}

/* header section */
/* banner section style start */
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 140px;
    padding-left: 80px;
    padding-right: 80px;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 700px;
}

/* banner section style end */
/* header section */