* {
    margin: 0;
    padding: 0;
}

/* header section */
/* banner section style start */
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
}



/* banner section style end */
/* header section */

/* main section */
.course-heading {
    font-size: 50px;
    font-weight: 700px;
}

.card-text-cost {
    font-weight: bold;
}

.ready-btn {
    padding: 15px;
    border: 1px solid rgb(33, 161, 247);
    border-radius: 5px;
    margin: 30px 0 0 300px;
}

.logo img {
    padding-right: 35px;
}

/* main section */

/* footer section style */
.footer {
    background-color: #000;

}

.social-icons a i {
    color: white;
    padding: 15px;
    font-size: 20px;
}

/* footer section style */